<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timer</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet/less" type="text/css" href="demos/01-timer/css/index.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js"></script>
  </head>
  <body>
    <div class="welcome">
        <h1>Welcome to this quick demo!</h1>
    </div>
    <script type="module" src="dist/01-timer/script/index.js"></script>
  </body>
</html>
